<template>
  <client-only>
    <v-col style="height: 90vh;">
      <v-row justify="center" align="center" style="height: 100%;">
        <div class="bubble-wrapper">
          <div ref="bubble" class="bubble">
            <!-- <p class="t_logo">T</p> -->
            <img class="bubble-image" src="/images/rocket.png" />
          </div>
          <div ref="bubblePulse" class="bubble-pulse"></div>
        </div>
      </v-row>
    </v-col>
  </client-only>
</template>

<script>
import { TimelineLite, Back, Elastic, Expo } from "gsap";
export default {
  data() {
    return {
      timeline: null
    };
  },
  mounted() {
    setTimeout(() => {
      if (process.client && this.$refs.bubble) {
        this.timeline = new TimelineLite({
          onComplete: () => this.timeline.restart()
        });

        this.timeline.to(this.$refs.bubble, 0.4, {
          scale: 0.8,
          ease: Back.easeOut.config(1.7)
        });
        this.timeline.to(
          this.$refs.bubblePulse,
          0.5,
          {
            scale: 0.9,
            opacity: 1
          },
          "-=0.6"
        );

        this.timeline.to(this.$refs.bubble, 1.2, {
          scale: 1,
          rotation: "-=16",
          ease: Elastic.easeOut.config(2.5, 0.5)
        });
        this.timeline.to(
          this.$refs.bubblePulse,
          1.1,
          {
            scale: 3,
            opacity: 0,
            ease: Expo.easeOut
          },
          "-=1.2"
        );
        this.timeline.to(this.$refs.bubble, 1.2, {
          scale: 1,
          rotation: "+=16",
          ease: Elastic.easeOut.config(2.5, 0.5)
        });
      }
    }, 10);
  }
};
</script>

<style>
.bubble-wrapper {
  position: relative;
}
.bubble {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
  background: #005983;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.bubble-pulse {
  position: absolute;
  z-index: 1;
  height: 120px;
  width: 120px;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  background: #005983;
  border-radius: 50%;
  opacity: 10;
  transform: scale(1);
}
.bubble-image {
  height: 50%;
}

.t_logo {
  font-size: 40px;
  color: aliceblue;
  font-weight: bold;
}
</style>