* {
    text-transform: none;
}

/* Prilagodjavanje standardnih vuetify stilova */

.v-application p {
    margin-bottom: 0px !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.container {
    padding: 0 !important;
    max-width: 100% !important;
}

.v-toolbar__content {
    padding: 0 !important;
}

.v-footer {
    padding: 0 !important;
}

/* Ovde idu boje tekstova */
.grey_text {
    color: rgb(61, 61, 61);
}

/* Moji stilovi */
.nav_btn {
    height: 100% !important;
    display: inline-block;
    cursor: pointer;
}

.nav_btn:hover {
    background-color: rgba(0, 40, 77, 0.438);
}

.bootom_nav {
    height: 50px;
    display: flex;
    min-width: 100%;
}

/* Переопределенный стиль */

.v-application--wrap .v-content__wrap div.v-application--wrap {
    padding: 2em;
    height: calc(100% - 55px);
    position: absolute;
    z-index: 2;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
    top: 48px;
    background: rgba(145, 148, 151, 0.8);
    margin: 3px 3px 3px 51px;
    width: 1206px;
}

::-webkit-scrollbar-button {
    /* background-image: url(''); */
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #6dc0c8;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
}

::-webkit-resizer {
    /* background-image: url(''); */
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 4px;
}

html,
body {
    padding: 0 0;
    margin: 0 0;
    font-family: roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
}