<template>
  <div>
    <section>
      <v-parallax src="/images/background.jpg" :height="$vuetify.breakpoint.height">
        <v-parallax src="/images/earth.png" :height="$vuetify.breakpoint.height">
          <v-container>
            <v-row align="center" justify="center">
              <img
                src="/images/familia-avatar.png"
                alt="Техноком"
                :height="$vuetify.breakpoint.height / 3"
              />
            </v-row>
            <v-row align="center" justify="center">
              <v-col cols="3" align="center" justify="center">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      class="my-2"
                      block
                      x-large
                      color="warning"
                      @click="$vuetify.goTo('#tehnokom', options)"
                      v-on="on"
                    >ЧТО ТАКОЕ ТЕХНОКОМ</v-btn>
                  </template>
                  <span>
                    Прежде чем нажать на кнопку Пуск. Нажмите на эту кнопку и мы коротко вам
                    расскажем об Умной социальной сети Техноком
                  </span>
                </v-tooltip>
              </v-col>
              <v-col cols="3" align="center" justify="center">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      class="my-2"
                      block
                      x-large
                      color="error"
                      @click="$vuetify.goTo('#whos-we-are', options)"
                      v-on="on"
                    >КТО МЫ</v-btn>
                  </template>
                  <span>
                    Прежде чем нажать на кнопку Пуск. Нажмите на эту кнопку и мы коротко вам
                    расскажем кто мы такие и какие цели нас объединяют
                  </span>
                </v-tooltip>
              </v-col>
              <v-col cols="3" align="center" justify="center">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      class="my-2"
                      block
                      x-large
                      color="secondary"
                      @click="$vuetify.goTo('#our-deal', options)"
                      v-on="on"
                    >НАШИ ПРОЕКТЫ</v-btn>
                  </template>
                  <span>
                    Прежде чем нажать на кнопку Пуск. Нажмите на эту кнопку и мы коротко вам
                    расскажем о наших достижениях и планах на будующее
                  </span>
                </v-tooltip>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    class="my-2 mainpage__button"
                    x-large
                    color="success"
                    href="registrado"
                    width="100px"
                    v-on="on"
                  >ПУСК</v-btn>
                </template>
                <span>
                  Нажмите на кнопку Пуск. Что бы присоединиться к Умной социальной сети
                  Техноком
                </span>
              </v-tooltip>
            </v-row>
            <v-row></v-row>
          </v-container>
        </v-parallax>
      </v-parallax>
    </section>
    <section v-if="!$auth.loggedIn" id="tehnokom">
      <v-parallax src="/images/section.jpg" :height="$vuetify.breakpoint.height">
        <what-is-tehnokom />
      </v-parallax>
    </section>
    <section id="whos-we-are">
      <v-parallax src="/images/background.jpg" :height="$vuetify.breakpoint.height">
        <whos-we-are />
      </v-parallax>
    </section>
    <section id="our-deal">
      <v-parallax src="/images/hero.jpeg" :height="$vuetify.breakpoint.height">
        <our-deal />
      </v-parallax>
    </section>
    <section>
      <v-parallax src="/images/background.jpg" :height="$vuetify.breakpoint.height">
        <basement />
      </v-parallax>
    </section>
  </div>
</template>


<script>
import whatIsTehnokom from "../components/notAuth/whatIsTehnokom";
import whosWeAre from "../components/notAuth/whosWeAre";
import ourDeal from "../components/notAuth/ourDeal";
import basement from "../components/notAuth/basement";

export default {
  components: { whosWeAre, whatIsTehnokom, ourDeal, basement },
  data() {
    return {};
  },
  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },
  beforeDestroy() {},

  mounted() {}
};
</script>
<style >
.mainpage__button {
  display: inline-block;
  position: relative;
  height: 40px;
  margin: 30px auto 110px;
  padding: 0 20px;
  font-weight: normal;
  font-size: 26px;
  color: #fff;
  line-height: 36px;
  text-decoration: none;
  background-color: #008fcb;
  border-radius: 5px;
  transition: 0.3s all;
}

.mainpage__button:hover {
  color: #fff;
  box-shadow: inset 0 0 50px 50px rgba(255, 255, 255, 0.2);
}

.mainpage__button:active {
  color: #fff;
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.2);
}

.mainpage__button::before,
.mainpage__button::after {
  display: block;
  position: absolute;
  left: 50%;
}

.mainpage__button::before {
  content: " ";
  top: 46px;
  width: 22px;
  height: 44px;
  margin-left: -11px;
  background: url(/images/arrow_curve_white.png) 0 0 no-repeat;
}

.mainpage__button::after {
  content: attr(data-message);
  top: 83px;
  width: 600px;
  margin-left: -300px;
  font-weight: normal;
  font-size: 26px;
  text-transform: none;
  letter-spacing: 0;
}
</style>