<template>
  <div>
    <transition fade-transition>
      <div>
        <tab-div
          :div-text="mystore.tabs[mystore.currentTab].name"
          :div-background="mystore.tabs[mystore.currentTab].backgroundTabColor"
          id="content"
          :style="{ width: calcWidth + 'px', 'margin-left': calcMarginLeft + 'px' }"
        >
          <v-row class="flex-child" v-for="n in 3" :key="n">
            <v-col
              class="col-padding"
              v-for="tile in tiles"
              :key="tile.id+'A'+n"
              :id="'A'+tile.id+n"
              :cols="tile.xs"
              :xl="tile.xl"
              :lg="tile.lg"
              :md="tile.md"
              :sm="tile.sm"
              :order-xl="tile.orderxl"
              :order-lg="tile.orderlg"
              :order-md="tile.ordermd"
              :order-sm="tile.ordersm"
              :order="tile.orderxs"
            >
              <v-sheet
                class="d-flex col-padding-inside overflow-y-auto"
                :style="tileStyle"
                :height="tile.height"
                tile
              >
                <span>{{mystore.tabs[mystore.currentTab].name +' row:'+n + ' col:'+tile.id}}</span>
                <!-- <sheet-footer>#{{tile.id}}</sheet-footer> -->
              </v-sheet>
            </v-col>
          </v-row>

          <v-row class="flex-child">
            <v-col
              class="col-padding-0"
              xl="4"
              lg="4"
              md="12"
              sm="12"
              cols="12"
              order-xl="1"
              order-lg="1"
              order-md="2"
              order-sm="2"
              order="2"
            >
              <v-row>
                <v-col cols="6" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="150"
                    tile
                  >
                    <span>{{mystore.tabs[mystore.currentTab].name +' width:'+ $vuetify.breakpoint.width }}</span>

                    <sheet-footer>#1</sheet-footer>
                  </v-sheet>
                </v-col>
                <v-col cols="6" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="150"
                    tile
                  >
                    <span>{{mystore.tabs[mystore.currentTab].name +' height:'+ $vuetify.breakpoint.height}}</span>

                    <sheet-footer>#2</sheet-footer>
                  </v-sheet>
                </v-col>

                <v-col cols="12" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="315"
                    tile
                  >
                    <span>{{mystore.tabs[mystore.currentTab].name +' width:'+ $vuetify.breakpoint.width +' height:'+ $vuetify.breakpoint.height}}</span>

                    <sheet-footer>#3</sheet-footer>
                  </v-sheet>
                </v-col>
              </v-row>
            </v-col>
            <v-col
              class="col-padding-0"
              xl="4"
              lg="4"
              md="12"
              sm="12"
              cols="12"
              order-xl="2"
              order-lg="2"
              order-md="1"
              order-sm="1"
              order="1"
            >
              <v-row>
                <v-col cols="12" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="150"
                    tile
                  >
                    <span>{{loremText}}</span>

                    <sheet-footer>#4</sheet-footer>
                  </v-sheet>
                </v-col>
                <v-col cols="12" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="150"
                    tile
                  >
                    <span>{{loremText}}</span>

                    <sheet-footer>#5</sheet-footer>
                  </v-sheet>
                </v-col>

                <v-col cols="12" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="150"
                    tile
                  >
                    <span>{{loremText}}</span>

                    <sheet-footer>#6</sheet-footer>
                  </v-sheet>
                </v-col>
              </v-row>
            </v-col>
            <v-col
              class="col-padding-0"
              xl="4"
              lg="4"
              md="12"
              sm="12"
              cols="12"
              order-xl="3"
              order-lg="3"
              order-md="3"
              order-sm="3"
              order="3"
            >
              <v-row>
                <v-col cols="12" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="315"
                    tile
                  >
                    <span>{{loremText}}</span>

                    <sheet-footer>#7</sheet-footer>
                  </v-sheet>
                </v-col>
                <v-col cols="12" class="col-padding">
                  <v-sheet
                    class="d-flex col-padding-inside overflow-y-auto"
                    :style="tileStyle"
                    height="150"
                    tile
                  >
                    <span>{{loremText}}</span>

                    <sheet-footer>#8</sheet-footer>
                  </v-sheet>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </tab-div>
      </div>
    </transition>
    <v-img src="/images/image.png"></v-img>
  </div>
</template>


<script>
import kmr from "~/pages/kmr";
import tabDiv from "~/components/tabDiv";
import tinycolor from "tinycolor2";

export default {
  components: {
    kmr,
    tabDiv,

    SheetFooter: {
      functional: true,

      render(h, { children }) {
        return h(
          "v-sheet",
          {
            staticClass: "mt-auto align-center justify-center d-flex",
            props: {
              color: "rgba(0, 0, 0, .36)",
              dark: true,
              height: 80
            }
          },
          children
        );
      }
    }
  },
  data() {
    return {
      // currentTab: 0
      mystore: this.$store.state.tabLogic,
      myapp: document,
      tiles: [
        {
          id: 1,
          text: "(1r x 1c)",
          color: "green lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 2,
          text: "(1r x 1c)",
          color: "grey lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 1,
          orderlg: 1,
          ordermd: 1,
          ordersm: 1,
          orderxs: 1
        },
        {
          id: 3,
          text: "(1r x 1c)",
          color: "red lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 4,
          text: "(1r x 1c)",
          color: "yellow lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 5,
          text: "(1r x 1c)",
          color: "teal lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 6,
          text: "(1r x 1c)",
          color: "purple lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        }
      ],

      loremText:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eligendi fuga ducimus reprehenderit illum, sunt aperiam suscipit cum nobis tempore ea adipisci praesentium porro saepe consequuntur sed pariatur vitae quisquam."
    };
  },
  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },
  computed: {
    calcWidth() {
      if (this.$vuetify.breakpoint.width < 1260) {
        return this.$vuetify.breakpoint.width - 3 - this.calcMarginLeft;
      } else {
        return 1206;
      }
    },
    calcMarginLeft() {
      if (
        !this.$store.getters["tabLogic/leftDrawer"](
          this.$vuetify.breakpoint.width
        )
      ) {
        return 3;
      } else {
        return 51;
      }
    },
    tileStyle: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny = tinycolor(color);
        let tiny0 = tiny.complement();
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0.01);
        return `background: ${tiny
          .setAlpha(1)
          .lighten(75)
          .toRgbString()};   color: ${tiny
          .setAlpha(1)
          .darken(85)
          .toRgbString()};   `;
      }
    }
  },
  beforeDestroy() {
    // this.$root.$off("changeCurrentTab", this.changeCurrentTab);
  },

  mounted() {
    // this.$root.$on("changeCurrentTab", this.changeCurrentTab);
  }
};
</script>
<style >
#content {
  /* padding: 2em; */
  height: calc(100% - 55px);
  position: absolute;
  z-index: 2;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
  top: 48px;
  background: rgba(145, 148, 151, 0.8);
  margin: 3px 3px 3px 51px;
}
.col-padding {
  padding: 7.5px;
}
.col-padding-0 {
  padding: 0px;
}
.col-padding-inside {
  /* border: 1.5px ridge rgba(0, 0, 0, 0.6); */
  padding: 9px;
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}
</style>