<template>
  <v-layout column class="login_form" v-on:keyup.enter="login">
    <p class="font-weight-medium grey_text">Электронная почта или номер телефона</p>
    <v-text-field single-line required v-model="form['username']"></v-text-field>
    <p class="font-weight-medium grey_text">Пароль</p>
    <v-text-field single-line required v-model="form['password']" type="password"></v-text-field>
    <v-layout row justify-end>
      <v-btn small color="clean" outlined class="mr-2">Очистить</v-btn>
      <v-btn small color="secondary" @click="login">Войти</v-btn>
    </v-layout>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      form: {}
    };
  },

  methods: {
    login() {
      if (this.form.username && this.form.password) {
        this.$auth
          .login(this.form.username, this.form.password)
          .then(() => window.location.reload(true))
          .catch(e => {
            console.error(e);
          });
      }
    }
  }
};
</script>

<style scoped>
.login_form {
  max-height: 250px;
}
</style>
