<template>
  <v-card>
    <v-navigation-drawer
      :value="leftDrawer"
      mini-variant-width="48px"
      app
      mini-variant
      dark
      color="rgba(33, 90, 155, 0.01)"
      flat
      tile
      stateless
      :style="barStyle2"
    >
      <v-list dense>
        <v-list-item link v-show="item0.onlyLoggedIn">
          <v-avatar tile>
            <v-img
              :src="item0.icon()"
              @click="goTo(item0.to)"
              v-if="item0.onlyLoggedIn"
              @clicked="goTo($event)"
              :title="item0.title"
            ></v-img>
          </v-avatar>
          <v-list-item-content>
            <v-list-item-title @clicked="goTo($event)" @click="goTo(item0.to)">{{ item0.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-list dense>
        <v-list-item
          v-for="(item, i) in items"
          :key="item.title+'A'+i"
          link
          v-show="item.onlyLoggedIn"
        >
          <v-avatar tile>
            <v-img
              :src="item.icon"
              @click="goTo(item.to)"
              @clicked="goTo($event)"
              :title="item.title"
            ></v-img>
          </v-avatar>

          <v-list-item-content>
            <v-list-item-title @clicked="goTo($event)" @click="goTo(item.to)">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="(item, i) in items2"
          :key="item.title+'B'+i"
          link
          v-show="item.onlyLoggedIn"
        >
          <v-avatar tile>
            <v-img
              :src="item.icon"
              @click="goTo(item.to)"
              @clicked="goTo($event)"
              :title="item.title"
            ></v-img>
          </v-avatar>

          <v-list-item-content>
            <v-list-item-title @clicked="goTo($event)" @click="goTo(item.to)">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list-item link dense>
        <v-avatar tile>
          <v-img
            :src="itemLogInOut.icon()"
            @click="goTo(itemLogInOut.to)"
            @clicked="goTo($event)"
            :title="itemLogInOut.title()"
          ></v-img>
        </v-avatar>
        <v-list-item-content>
          <v-list-item-title
            @clicked="goTo($event)"
            @click="itemLogInOut.to"
          >{{ itemLogInOut.title() }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>
  </v-card>
</template>


<script>
import Vue from "vue";
import tinycolor from "tinycolor2";

export default {
  data() {
    return {
      mystore: this.$store,

      item0: {
        icon: () => {
          return this.$store.state.tabLogic.tabs[
            this.$store.state.tabLogic.currentTab
          ].imageMin;
        },
        title: "Вселенная",
        to: "/",
        onlyLoggedIn: true
      },
      items: [
        {
          icon: "/icons/icon1.png",
          title: "Новости",
          to: "/nov",
          onlyLoggedIn: true
        },
        {
          icon: "/icons/icon2.png",
          title: "Сообщества",
          to: "/kom",
          onlyLoggedIn: true
        },

        {
          icon: "/icons/icon3.png",
          title: "Академия",
          to: "/akd",
          onlyLoggedIn: true
        },
        {
          icon: "/icons/icon4.png",
          title: "Энциклопедия",
          to: "/akd",
          onlyLoggedIn: true
        }
      ],

      items2: [
        {
          icon: "/icons/tab4_2.png",
          title: "Инициативы",
          to: "/bat",
          onlyLoggedIn: this.$auth.loggedIn
        },

        {
          icon: "/icons/tab4_1.png",
          title: "Общение",
          to: "/knf",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "/icons/tab4_3.png",
          title: "Товарищи",
          to: "/kmr",
          onlyLoggedIn: this.$auth.loggedIn
        }
      ],
      itemLogInOut: {
        icon: () => {
          return !this.$auth.loggedIn
            ? "/icons/iconOn.png"
            : "/icons/iconOff.png";
        },
        title: () => {
          return !this.$auth.loggedIn ? "Войти" : "Выйти";
        },

        to: () => {
          if (!this.$auth.loggedIn) {
            this.$siriuso.showLoginForm();
          } else {
            this.$auth.logout();
          }
        }
      },
      currentTab: 0,

      leftMini: true
    };
  },

  watch: {},

  computed: {
    showLoginForm: {
      set: function(val) {
        this.$store.commit("system/setShowLoginForm", val);
      },

      get: function() {
        return this.$store.state.system.show_login_form;
      }
    },

    barStyle2: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny0 = tinycolor(color);
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0);
        let deg = "225deg";
        let gradEnd = "50%";
        let gradBegin = "100%";

        return `background: ${tiny0.toRgbString()}; background: -moz-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: -webkit-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="${tiny0.toHexString()}",endColorstr="${tiny0.toHexString()}",GradientType=1);`;
      }
    },
    leftDrawer: function() {
      return this.$store.getters["tabLogic/leftDrawer"](
        this.$vuetify.breakpoint.width
      );
    }
  },

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {
    // this.$root.$on("changeCurrentTab", this.changeCurrentTab);
  },
  beforeDestroy() {
    // this.$root.$off("changeCurrentTab", this.changeCurrentTab);
  },
  updated() {},
  created() {}
};
</script>

<style >
.v-list.v-sheet.v-sheet--tile.theme--dark.v-list--dense {
  padding-top: 0;
  padding-bottom: 0;
}

.v-navigation-drawer {
  /* margin: 0px 0px 0px !important; */
  /* max-height: calc(100% - 48px) !important; */
  top: 48px !important;
  left: unset !important;
}
</style>