<template>
  <v-card>
    <!-- permanent
          :mini-variant.sync="leftMini"
    expand-on-hover-->
    <v-navigation-drawer
      v-model="leftDrawer"
      mini-variant-width="48px"
      app
      mini-variant
      permanent
      style="backgroundImage: url('/images/background.jpg'); opacity: 0.7; margin: 48px  0 0 "
      dark
    >
      <v-list dense>
        <v-list-item v-for="item in items" :key="item.title" link v-show="item.onlyLoggedIn">
          <v-list-item-icon>
            <v-icon @click="goTo(item.to)">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title @clicked="goTo($event)" @click="goTo(item.to)">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list-item link dense>
        <v-list-item-icon>
          <v-icon>{{ itemLogInOut.icon() }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title
            @clicked="goTo($event)"
            @click="goTo(itemLogInOut.to)"
          >{{ itemLogInOut.title() }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      items: [
        {
          icon: "mdi-earth",
          title: "Вселенная",
          to: "/",
          onlyLoggedIn: true
        },
        {
          icon: "mdi-newspaper",
          title: "Новости",
          to: "/nov",
          onlyLoggedIn: true
        },
        {
          icon: "mdi-google-circles-communities",
          title: "Сообщества",
          to: "/kom",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "mdi-google-circles-group",
          title: "Инициативы",
          to: "/bat",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "mdi-nature-people",
          title: "Знания",
          to: "/akd",
          onlyLoggedIn: true
        },
        {
          icon: "mdi-wechat",
          title: "Общение",
          to: "/knf",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "mdi-star-circle",
          title: "Товарищи",
          to: "/kmr",
          onlyLoggedIn: this.$auth.loggedIn
        }
      ],
      itemLogInOut: {
        icon: () => {
          return !this.$auth.loggedIn
            ? "mdi-login-variant"
            : "mdi-logout-variant";
        },
        title: () => {
          return !this.$auth.loggedIn ? "Войти" : "Выйти";
        },

        to: () => {
          if (!this.$auth.loggedIn) {
            this.$siriuso.showLoginForm();
          } else {
            this.$auth.logout();
          }
        }
      },

      leftDrawer: true,
      leftMini: true
    };
  },

  watch: {},

  computed: {},

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {},
  updated() {},
  created() {}
};
</script>

<style scoped>
</style>