<template>
  <ul id="tabs">
    <li id="current">
      <a href="#" name="tab1" v-on:click="clickOnTab(0)">One</a>
    </li>
    <li>
      <a href="#" name="tab2" v-on:click="clickOnTab(1)">Two</a>
    </li>
    <li>
      <a href="#" name="tab3" v-on:click="clickOnTab(2)">Three</a>
    </li>
    <!-- <li>
      <a href="#" name="tab4" v-on:click="clickOnTab(3)">Four</a>
    </li>-->
  </ul>
</template>
<script>
import Vue from "vue";
import gql from "graphql-tag";

export default {
  data() {
    return {
      clickOnTab(tab) {
        this.clearSelectedTabs();
        document.querySelectorAll("#tabs li")[tab].id = "current";
        this.currentTab = tab;
        this.$root.$emit("changeCurrentTab", this.currentTab);
      },
      clearSelectedTabs() {
        for (let i = 0; i < document.querySelectorAll("#tabs li").length; i++) {
          document.querySelectorAll("#tabs li")[i].id = "";
        }
      },

      currentTab: 0
    };
  },

  watch: {},

  computed: {},

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {},
  updated() {},
  created() {}
};
</script>

<style>
#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 35px;
}

#tabs li {
  float: left;
  margin: 0 2px 0 0;
}

#tabs a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  padding: 6px 30px;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: -6px;
  bottom: 0;
  width: 10px;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;
}

#tabs #current a,
#tabs #current a::after {
  background: #fff;
  z-index: 3;
}
</style>
